@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  background-color: #F3EAE3;
}

p {
  color: hsl(158, 36%, 37%);
  font-size: 14px;
}

.container {
  height: 500px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.grid-container {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

img {
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 100%
}

.content-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 0px 30px;
}

.content-div .category {
  margin-top: 10px;
  letter-spacing: 5px;
}

.content-div h1 {
  margin-right: 20px;
  font-family: 'Fraunces', sans-serif;
}

.content-div p {
  line-height: 1.5;
}

.content-div .description {
  margin-right: 20px;
}

.prices {
  display: flex;
  flex-direction: row;
}

.price {
  color: hsl(228, 12%, 48%);
  font-size: 30px;
  font-weight: 700;
  font-family: 'Fraunces', sans-serif;
}

.old-price {
  margin: 10px 20px;
  text-decoration: line-through;
}

button {
  height: 45px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button p {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

button img {
  height: 15px;
  width: 15px;
}

@media (max-width: 768px) {
  .container {
    height: 95%;
    width: 90%;
    margin: 20px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  img {
    border-radius: 20px 20px 0 0;
  }

  .content-div {
    margin: 20px 0;
    gap: 20px;
  }

  button {
    margin: 24px 0px;
  }
}